@model BpstEducation.Models.Employees

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ActiveTabName = "Employees";

}
<div class="content">
    <div class="card">
        <div class="card-body">
            <h5>Employees</h5>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div class="row">
                    <input type="hidden" asp-for="UniqueId" />
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="FullName" class="form-label">Full Name</label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>

                    </div>

                    <div class="form-group col-md-4 col-sm-6 col-lg-3">

                        <label asp-for="JobRole" class="form-label">Job Role</label>
                        <input asp-for="JobRole" class="form-control" />
                        <span asp-validation-for="JobRole" class="text-danger"></span>

                    </div>

                    <div class="form-group col-md-4 col-sm-6 col-lg-3">

                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>

                    <div class="form-group col-md-4 col-sm-6 col-lg-3">

                        <label asp-for="DateOfBirth" class="form-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>

                    </div>

                    <div class="form-group col-md-4 col-sm-6 col-lg-3">

                        <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    </div>

                    <div class="form-group col-md-4 col-sm-6 col-lg-3">

                        <label asp-for="Experience" class="form-label"></label>
                        <input asp-for="Experience" class="form-control" />
                        <span asp-validation-for="Experience" class="text-danger"></span>

                    </div>

                    <div class="form-group col-md-6 col-sm-8 col-lg-5">

                        <label asp-for="Address" class="form-label"></label>
                        <textarea asp-for="Address" class="form-control" rows="2" ></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 mb-2">
                        <input type="submit" value="Create" class="btn btn-primary w-75" />
                    </div>
                    <div class="col-md-4 mb-2">
                        <a asp-action="Index">Back to List</a>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
