@model IEnumerable<BpstEducation.NewModels.StudentApplication>

<div class="content">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th> Id  </th>
                            <th> Name  </th>
                            <th> Mobile  </th>
                            <th> Course </th>
                            <th> College Name </th>
                            <th> Applied On </th>
                            <th> <input type="checkbox" />  Add Student To Batch </th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.UniqueId</td>
                            <td> @item.FullName</td>
                            <td> @item.MobileNumber</td>
                            <td> @item?.Course?.Name</td>
                            <td> @item?.CollegeName</td>
                            <td> @item?.AppliedOn.ToString("dd-MMM-yyyy") - <strong>( @item?.NumberOfDays Day's Ego) </strong> </td>
                            <td>
                                <input type="checkbox" /> <a class="link" href="#"> En-Roll</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
