
@{
    ViewBag.ActiveTabName = "ContactAbout";
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="/LandingPage/assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">

                <h3 class="title-sub mb-4">Software Education</h3>
                <p> Software Education is all about <b><i>Programming</i></b> and getting a clear picture of <strong>How Computer Work? </strong>  </p>
                <ul>
                    <li><i class="icofont-check-circled"></i> Once you know how computer works, Now Its time to  Our Vision is to promote the Software Education.</li>
                </ul>
                <p> Its more about make computer work for YOU </p>
                <h3 class="title-sub mb-4">
                    BPST Software Education is a branch of <a href="http://www.bitprosoftec.com" target="_blank"> BitProSofTec </a>
                    also know as <a href="http://www.bitprosoftec.com" target="_blank">BPST</a>
                </h3>


                <p class="font-italic">
                    Everybody should learn how to program a computer... Because it teaches you how to think.
                </p>
                <ul>
                    <li><i class="icofont-check-circled"></i> Our Vision is to promote the Software Education.</li>
                    <li><i class="icofont-check-circled"></i> Motivate students to choose Software development career.</li>
                    <li><i class="icofont-check-circled"></i> Increase awareness of software engineering to young student.</li>
                </ul>

                <p class="sub-para">
                    As the IT sector is growing very fast and we have so many vacancies for a Software Developer position.
                    Our goal is to make technical students observe the Software development corporate environment very closely,
                    complete their final year projects under the guidance of IT Experts.
                    This gives a real hike to student confidence and experience.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->
