
@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.ActiveTabName = "Home";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Welcome to</h1>
        <h2>BitProSofTec - Software Education Portal  </h2>
        <a href="/Home/StudentRegistration" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->
<main id="main">
    <section id="SoftwareEducationImportance" class="about">
        <div class="container">

            <div class="row">
                <div class="col-6 content" data-aos="fade-right">
                    <h3 class="title-sub mb-4">   Way Software Education Is Important In Early Age ?   </h3>
                    <p class="font-italic">  The use of technology in early childhood education  </p>
                    <i>
                        The thoughtful use of technology by parents and early educators can engage children in key skills such as play, self-expression, and computational thinking which will support later success across all academic disciplines and help maintain young children's natural curiosity.
                    </i>
                    <ul>
                        <li><i class="icofont-check-circled"></i> Our Vision is to promote the Software Education.</li>
                        <li><i class="icofont-check-circled"></i> Motivate students to choose Software development career.</li>
                        <li><i class="icofont-check-circled"></i> Increase awareness of software engineering to young student.</li>
                    </ul>
                    <p class="sub-para">
                        As the IT sector is growing very fast and we have so many vacancies for a Software Developer position.
                        Our goal is to make technical students observe the Software development corporate environment very closely,
                        complete their final year projects under the guidance of IT Experts.
                        This gives a real hike to student confidence and experience.
                    </p>
                </div>
                <div class="col-6 content" data-aos="fade-right"> 
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CIx4rt5vqeY?controls=0&amp;start=7" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
            </div>

        </div>
    </section>
    <section id="why-us" class="why-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4" data-aos="fade-up">
                    <div class="box">
                        <span>01</span>
                        <h4>Internship Programs </h4>
                        <p>Technical guidance to the engineering students in their final year projects</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
                    <div class="box">
                        <span>02</span>
                        <h4>Summer Training</h4>
                        <p>Short term programming courses on different technology</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                        <span>03</span>
                        <h4> Ad ad velit qui</h4>
                        <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->

    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>Join Our Courses </h3>
                <p> We Offer A Very Wide Range Of Software Courses from   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="cta-btn" href="#">Call To Action</a>
            </div>

        </div>
    </section><!-- End Cta Section -->

</main><!-- End #main -->
