@model BpstEducation.Models.Registration

@{
    ViewData["Title"] = "StudentRegistration";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.ActiveTabName = "Registration";
    ViewBag.nul = null;
}
<div class="container" style="min-height:60vh">
    <div class="row justify-content-center">
        <div class="col-7 p-5">
            <div class="card">
                @if (ViewBag.RegistrationSaved == true)
                {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Contratulation</strong> Your registration is successfull.<br />
                    Registration Id is @ViewBag.RegId.<br />
                    For further information contact to 8299101616
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                }
                else
                {
                    <div class="card-header">
                        <h4 class="card-title">
                            Student Registration
                        </h4>
                    </div>
                    <div class="card-body">
                        <form asp-action="StudentRegistration">
                            <input asp-for="UniqueId" hidden />
                            <input asp-for="RegistrationId" hidden />
@*                             <span asp-validation-for="RegistrationId"  class="text-danger"></span>
 *@                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input asp-for="FullName" required placeholder="*Full Name" class="form-control" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <input asp-for="FatherName" placeholder="*Father Name" class="form-control" />
                                    <span asp-validation-for="FatherName" class="text-danger"></span>
                                </div>


                                <div class="form-group col-md-6">
                                    <select asp-for="Qualification" class="form-control" asp-items="ViewBag.Qualification">
                                        <option value="">--Select One--</option>
                                    </select>
                                    
                                    <span asp-validation-for="Qualification" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <select asp-for="ApplicationFor" class="form-control" asp-items="ViewBag.ApplicationFor">
                                        <option value="">--Select Course--</option>
                                    </select>
                                    <span asp-validation-for="ApplicationFor" class="text-danger"></span>
                                </div>
                              
                              

                                <div class="form-group col-md-6">
                                    <input asp-for="MobileNumber" placeholder="*Mobile Number" required class="form-control" />
                                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <input asp-for="EmailId" type="email" placeholder="Email (xyz@gmail.com)" class="form-control" />
                                    <span asp-validation-for="EmailId" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-12">
                                    <input asp-for="Address" placeholder="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <input asp-for="CollegeName" placeholder="College Name" class="form-control" />
                                    <span asp-validation-for="CollegeName" class="text-danger"></span>
                                </div>
                             
                                <div class="form-group col-md-12">
                                    <textarea rows="5" asp-for="Message" class="form-control" id="exampleInputPassword1" placeholder="Message"></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 text-center">
                                    <input type="submit" value="Submit Registration" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

