@model BpstEducation.NewModels.StudentApplication

@{
    ViewData["Title"] = "StudentApplications";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.ActiveTabName = "Registration";
    var isSaved = false;
    if (TempData["SaveSuccess"] != null)
    {
        isSaved = (bool)TempData["SaveSuccess"];
    }
    List<Course> ApplicationFor = ViewBag.courses;
    if (ViewBag.SaveSuccess != null && ViewBag.SaveSuccess == true)
    {
        isSaved = true;
    }
}
<br />
<div class="container">
    <div class="card">
        <div class="card-header text-center bg-dark text-white text-bold">Student Registration</div>
        <div class="card-body">
            <form class="form-horizontal" asp-action="StudentApplications" asp-controller="Home" method="post">
                <input type="hidden" asp-for="ApplicationId" class="form-control" />
                <input type="hidden" asp-for="UniqueId" class="form-control" />
                <div asp-validation-summary="All" class="text-danger"></div>

                @if (isSaved)
                {
                    <div class="col-sm-12 alert alert-success" role="alert">
                        Your registartion was accesspted successfully, we will contact you soon.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="row form-group">
                    <div class="form-group col-md-6">
                        <label asp-for="FullName">Full Name </label>
                        <input type="text" asp-for="FullName" placeholder="Student Full Name" class="form-control" required />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="FatherName">Father Name </label>
                        <input type="text" asp-for="FatherName" placeholder="Father Name" class="form-control" required />
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="EmailId">Email Id </label>
                        <input type="text" asp-for="EmailId" placeholder="Ex: myemail@gmail.com" class="form-control" required />
                        <span asp-validation-for="EmailId" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="MobileNumber">Mobile Number </label>
                        <input type="text" asp-for="MobileNumber" placeholder="+91 - 94 1515 1212" class="form-control" required />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <label asp-for="Address">  </label>
                        <input type="text" asp-for="Address" placeholder="Enter your full address with pin code." class="form-control" required />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4">
                        <label asp-for="HighestQualification">  </label>
                        <input type="text" asp-for="HighestQualification" placeholder="Your Highest Qualification" class="form-control" required />
                        <span asp-validation-for="HighestQualification" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4">
                        <label asp-for="CollegeName">  </label>
                        <input type="text" asp-for="CollegeName" placeholder="Enter your College Name & Board" class="form-control" required />
                        <span asp-validation-for="CollegeName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Course">Course Applying For </label>
                        <select asp-for="CourseId" class="form-control" required>
                            <option value="-1">--Select--</option>
                            @foreach (var cource in ApplicationFor)
                            {
                                <option value="@cource.UniqueId"> @cource.Name </option>
                            }
                        </select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-12">
                        <label asp-for="Message">  </label>
                        <textarea asp-for="Message" placeholder="Type your message / query " class="form-control"> </textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit </button>
            </form>

        </div>
    </div>
</div>
</div>


@section Scripts {
    <script src="~/AppJs/Address.js"></script>
}
