@model BpstEducation.NewModels.StudentRegistration

@{
    ViewData["Title"] = "StudentRegistration";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.ActiveTabName = "Registration";
    var isSaved = false;
    if (TempData["SaveSuccess"] != null)
    {
        isSaved = (bool)TempData["SaveSuccess"];
    }

    List<Course> ApplicationFor = ViewBag.courses;

    if (ViewBag.SaveSuccess != null && ViewBag.SaveSuccess == true)
    {
        isSaved = true;
    }
}

<br />
<br />
@section Scripts {
    <script src="~/AppJs/Address.js"></script>
}


<div class="container">
    <div class="card">
        <div class="card-header text-center bg-dark text-white text-bold">Student Registration</div>
        <div class="card-body">
            <form class="form-horizontal" asp-action="Register" asp-controller="Account" method="post">
                <input type="hidden" asp-for="RegistrationId" class="form-control" />
                <input type="hidden" asp-for="UniqueId" class="form-control" />

                @if (isSaved)
                {
                    <div class="col-sm-12 alert alert-success" role="alert">
                        Your registartion was accesspted successfully, we will contact you soon.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="row form-group">
                    
                    <div class="form-group col-md-6">
                        <label asp-for="FullName">Full Name </label>
                        <input type="text" asp-for="FullName" placeholder="Student Full Name" class="form-control" required />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="FatherName">Father Name </label>
                        <input type="text" asp-for="FatherName" placeholder="Father Name" class="form-control" required />
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Check me out
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>



            <form class="form-horizontal" asp-action="Register" asp-controller="Account" method="post">
                <input type="hidden" asp-for="RegistrationId" class="form-control" />
                <input type="hidden" asp-for="UniqueId" class="form-control" />

                @if (isSaved)
                {
                    <div class="col-sm-12 alert alert-success" role="alert">
                        Your registartion was accesspted successfully, we will contact you soon.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }            
                <div class="row form-group">
                    <label class="control-label col-sm-2" asp-for="FullName"></label>
                    <div class="col-sm-10">
                        <input type="text" asp-for="FullName" class="form-control" required />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-2" asp-for="FatherName"></label>
                    <div class="col-sm-10">
                        <input type="text" asp-for="FatherName" class="form-control" />
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-2" asp-for="MobileNumber"></label>
                    <div class="col-sm-10">
                        <input asp-for="MobileNumber" class="form-control" />
                        <span asp-validation-for="MobileNumber"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-2" asp-for="EmailId"></label>
                    <div class="col-sm-10">
                        <input asp-for="EmailId" class="form-control" required />
                        <span asp-validation-for="EmailId"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-2" asp-for="CollegeName"></label>
                    <div class="col-sm-10">
                        <input asp-for="CollegeName" class="form-control" />
                        <span asp-validation-for="CollegeName"></span>
                    </div>
                </div>
                <div class="row form-group">

                    <label class="control-label col-sm-2" asp-for="Qualification" required></label>
                    <div class="col-sm-10">
                        <input asp-for="Qualification" class="form-control" />
                        <span asp-validation-for="Qualification"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-2" asp-for="Course"></label>

                    <div class="col-sm-10">
                        <select asp-for="CourseId" class="form-control">
                            <option value="-1">--Select--</option>
                            @foreach (var cource in ApplicationFor)
                            {
                                <option value="@cource.UniqueId"> @cource.Name </option>
                            }
                        </select>
                        <span asp-validation-for="CourseId"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-sm-2" asp-for="Message"></label>
                    <div class="col-sm-10">
                        <input asp-for="Message" class="form-control" />
                        <span asp-validation-for="Message"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-2" asp-for="Address"></label>
                    <div class="col-sm-10">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address"></span>
                    </div>
                </div>

                @*   <div class="card">
                    <div class="card-header">Address Details</div>
                    <div class="card-body row">
                        <div class="form-group col-sm-12 col-md-6  col-lg-4">
                            <label asp-for="Address.CountryId" class="text-bold">  </label><small>  <i>(required)</i></small>
                            <select asp-for="@Model.Address.CountryId" class="custom-select form-control" asp-items="ViewBag.CountryId"></select>
                            <span asp-validation-for="Address.CountryId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-12 com-md-6 col-lg-4">
                            <label asp-for="Address.StateId" class="control-label"></label><small>  <i>(required)</i></small>
                            <select asp-for="Address.StateId" onchange="Address.GetCitiesByStateId($(this).children('option:selected').val())" class="custom-select form-control" asp-items="ViewBag.StateId">
                                <option id="0"> -- Select State -- </option>
                            </select>
                            <span asp-validation-for="Address.StateId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-12 com-md-6 col-lg-4">
                            <label asp-for="Address.CityId" class="control-label"></label><small>  <i>(required)</i></small>
                            <select asp-for="Address.CityId" class="custom-select form-control" asp-items="ViewBag.CityId"></select>
                            <span asp-validation-for="Address.CityId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6  col-lg-4 form-group">
                            <label class="control-label" asp-for="Address.AddressLine1"></label>
                            <input asp-for="Address.AddressLine1" class="form-control" placeholder="Address Line 1" />
                            <span asp-validation-for="Address.AddressLine1" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6  col-lg-4 form-group">
                            <label class="control-label" asp-for="Address.AddressLine2"></label>
                            <input asp-for="Address.AddressLine2" class="form-control" placeholder="Address Line 2" />
                            <span asp-validation-for="Address.AddressLine2" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6  col-lg-4 form-group">
                            <label class="control-label" asp-for="Address.AddressLine3"></label>
                            <input asp-for="Address.AddressLine3" class="form-control" placeholder="Address Line 3" />
                            <span asp-validation-for="Address.AddressLine3" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6  col-lg-4 form-group">
                            <label class="control-label" asp-for="Address.NearestLandMark"></label>
                            <input asp-for="Address.NearestLandMark" class="form-control" placeholder="Nearest Land Mark" />
                            <span asp-validation-for="Address.NearestLandMark" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6  col-lg-4 form-group">
                            <label class="control-label" asp-for="Address.PinCode"></label>
                            <input asp-for="Address.PinCode" class="form-control" placeholder="Pin Code" />
                            <span asp-validation-for="Address.PinCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>  *@



                <div class="row form-group">
                    <div class="col-sm-2"> </div>
                    <div class="col-sm-10">

                        <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="StudentRegistration">SignUp </button>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>

            </form>
        </div>
        <div class="card-footer text-right bg-secondary text-white "> Already have an account?  &nbsp;  &nbsp;  &nbsp; <a asp-controller="Account" class="btn btn-danger" asp-action="Login">Login </a>  </div>
    </div>
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-4">
                <section>
                </section>
            </div>
        </div>
    </main>
</div>


