@using System.Globalization
@model IEnumerable<BpstEducation.Models.Batch>
@{
    ViewData["Title"] = "Index";
    Layout = ViewBag.Layout;
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    int sno = 0;
    ViewBag.ActiveTabName = "Batchs";
    CultureInfo indianCulture = new CultureInfo("hi-IN");


}
<link href="~/admintemp/dist/plugins/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 class="h3">Batch List</h1>
@*                 <a asp-action="Create" class="btn btn-primary btn-sm">New Batch</a>
 *@            </div>
            @await Html.PartialAsync("_BatchListPartial", Model)
        </div>
    </div>
</div>
@section Scripts {
    <!-- DataTable -->
    <script src="~/admintemp/dist/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/admintemp/dist/plugins/datatables/datatables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
        });
    </script>

}
