@model BpstEducation.Models.Course

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="card">
        <div class="card-body">
            <h5>CourseCategory</h5>
            <hr />

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <input type="hidden" asp-for="UniqueId" />
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input asp-for="IntershipAvailable" type="checkbox" class="form-check-input" />
                            <label asp-for="IntershipAvailable" class="form-check-label"></label>
                            <span asp-validation-for="IntershipAvailable" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 text-center">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div class="form-group col-md-6 text-center back-to-list">
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


