@model BpstEducation.Models.CourseCategory

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <div class="card">
        <div class="card-body">
            <h5>Edit CourseCategory</h5>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <input type="hidden" asp-for="UniqueId" />
                    <div class="form-group col-md-6">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div class="col-md-6 text-center">
                        <a href="/Admin/CourseCategories/Index" class="btn btn-secondary">Back to List</a>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>



