@model IEnumerable<BpstEducation.Models.CourseCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <div class="card">
        <div class="card-body">
            <h1>Index</h1>

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a href="/Admin/CourseCategories/Edit/@item.UniqueId">Edit</a> |
                                <a href="/Admin/CourseCategories/Details/@item.UniqueId">Details</a> |
                                <a href="/Admin/CourseCategories/Delete/@item.UniqueId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>