@model BpstEducation.Models.Student

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    ViewBag.ActiveTabName = "Students";

}

<div class="content">
    <div class="card">
        <div class="card-body">
            <h5>Student</h5>
            <hr />
            <form asp-action="Create" enctype="multipart/form-data" class="needs-validation" novalidate>
                <div asp-validation-summary="All"></div>

                @* Form Fields *@
                <div class="row">
                    <input type="hidden" asp-for="UniqueId" />
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="RegistrationDate" class="form-label"></label>
                        <input asp-for="RegistrationDate" class="form-control" />
                        <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control" placeholder="Enter First Name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" placeholder="Enter Last Name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Enter Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="DateOfBirth" class="form-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" type="date" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="PhoneNumber" class="form-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="Address" class="form-label"></label>
                        <input asp-for="Address" class="form-control" placeholder="Enter Address" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="AadhaarNumber" class="form-label"></label>
                        <input asp-for="AadhaarNumber" class="form-control" placeholder="Enter Aadhaar Number" />
                        <span asp-validation-for="AadhaarNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="PanNumber" class="form-label"></label>
                        <input asp-for="PanNumber" class="form-control" placeholder="Enter PAN Number" />
                        <span asp-validation-for="PanNumber" class="text-danger"></span>
                    </div>

                    @* Aadhaar and PAN Image Upload *@
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="Aadhar" class="form-label"></label>
                        <input asp-for="Aadhar" type="file" class="form-control" />
                        <span asp-validation-for="Aadhar" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="Pan" class="form-label"></label>
                        <input asp-for="Pan" type="file" class="form-control" />
                        <span asp-validation-for="Pan" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="CourseOfInterestId" class="form-label"></label>
                        <select asp-for="CourseOfInterestId" class="form-control" asp-items="ViewBag.CourseCategoryID">
                            <option value="">Select Course Category</option>
                        </select>
                    </div>
                    @* <div class="col-md-3 mb-1">
                    <div class="form-group">
                    <input asp-for="MyTrainingFee" class="form-control" placeholder="Enter Fees" />
                    <span asp-validation-for="MyTrainingFee" class="text-danger"></span>
                    </div>
                    </div> *@
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 mb-2">
                        <input type="submit" value="Create" class="btn btn-primary w-50" />
                    </div>
                    <div class="col-md-4 mb-2">
                        <a asp-action="Index">Back to List</a>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
