@model BpstEducation.Models.BatchStudent

@{
    ViewData["Title"] = "Create";
    Layout = ViewBag.Layout; 
    ViewBag.ActiveTabName = "BatcheStudents";
}
<div class="content">
    <div class="card">
        <div class="card-body">
            <h5>StudentBatch</h5>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <input type="hidden" asp-for="UniqueId" />
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="BatchId" class="control-label"></label>
                        <select asp-for="BatchId" class="form-control" asp-items="ViewBag.BatchId">
                            <option value="">--Select--</option>
                        </select> 
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="StudentId" class="control-label"></label>
                        <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="DiscountFee" class="control-label"></label>
                        <input asp-for="DiscountFee" class="form-control" />
                        <span asp-validation-for="DiscountFee" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="TotalAmt" class="control-label"></label>
                        <input asp-for="TotalAmt" class="form-control" />
                        <span asp-validation-for="TotalAmt" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-lg-3">
                        <label asp-for="RemainingAmt" class="control-label"></label>
                        <input asp-for="RemainingAmt" class="form-control" />
                        <span asp-validation-for="RemainingAmt" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <input type="submit" value="Create" class="btn btn-primary " />
                    </div>
                    
                </div>
                <div class="col-md-4 mb-2">
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
