@model BpstEducation.Models.Batch

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ActiveTabName = "Helper";
}

<h1>Create</h1>

<h4>Batch</h4>
<hr />
<div class="content">

    <div class="card">
        <div class="card-header">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BatchId" class="control-label"></label>
                <input asp-for="BatchId" class="form-control" />
                <span asp-validation-for="BatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class ="form-control" asp-items="ViewBag.CourseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer" class="control-label"></label>
                <input asp-for="Trainer" class="form-control" />
                <span asp-validation-for="Trainer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssisTrainer" class="control-label"></label>
                <input asp-for="AssisTrainer" class="form-control" />
                <span asp-validation-for="AssisTrainer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedDate" class="control-label"></label>
                <input asp-for="LastUpdatedDate" class="form-control" />
                <span asp-validation-for="LastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatchFee" class="control-label"></label>
                <input asp-for="BatchFee" class="form-control" />
                <span asp-validation-for="BatchFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedBy" class="control-label"></label>
                <input asp-for="LastUpdatedBy" class="form-control" />
                <span asp-validation-for="LastUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>

</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
